.start-screen{
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    >img{
        height: 100vh;
        width: 65%;
    }
}

.start-screen-label{
    position: absolute;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    >img{
        width: 150px;
        height: auto;
        &:hover{
            filter: brightness(1.5);
            cursor: pointer;
        }
    }
}

.start-screen-text{
    position: absolute;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    bottom: 20vh;
}