.field {
    margin: auto;
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    background-image: url(./../../assets/img/field.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
}

.player-position{
    position: absolute;
    width: 300px;
    right: 0;
    border-radius: 50px 0 0 50px;
}

.card-stack {
    position: relative;
    >img {
        position: absolute;
    }
}

.first-card{
    cursor: pointer;
    transition: all 125ms ease-in-out;
    &:hover{
        transform: scale(1.1) translateY(-10px);
    }
}

.pick-card{
    animation: pick-card-animation 1s ease-in-out;
    transform: scale(1.3) translateX(150px) translateY(-150px) rotate(30deg);
}

.dialog-button{
        position: absolute;
        bottom: 24px;
        right: 24px;
}

@keyframes pick-card-animation{
    0%{
        transform: scale(1);
    }
    40%{
        transform: scale(1.4);
    }
    80%{
        transform: scale(1.7);
    }
    100%{
        transform: scale(1.3) translateX(150px) translateY(-150px)!important;
    }
}
